.logo {
  padding-bottom: 50px;
}

h1 {
  font-size: 100px;
  color: white;
  text-align: center;
}

h2 {
  color: black;
  /*opacity: 1.0;*/
  font-size: 50px;
  margin-top: 50px;
}

h3 {}

.container-fluid {
  margin: 0%;
}

.part1 {
  background-image: url(../images/newpaul-and-anthony-burill.jpg);
  min-height: 200px;
  background-size: 15%;
  /*color: red;*/
  text-align: center;
  padding-bottom: 0px;
  background-size: 40%;
  min-width: 100%;
}

.part2 {
  background-color: #ffb3b3;
  min-height: 50px;
  margin: 0%;
}

.part3 {
  /*background-image: url(../images/i-create-minimalist-posters-of-famous-fairy-tales-using-ping-pong-rackets-and-balls-2__880.jpg);*/
  background-repeat: repeat-x;
  background-size: 50%;
  min-width: 70%;
  min-height: 550px;
  /*: auto;*/
  /*opacity: 1.0;*/
  text-align: left;
  justify;
  /*color: white;*/
  font-size: 25px;
  background-color: #ffdb4d;
  margin: 0%;
}

.part4 {
  /*background-color: white;*/
  min-height: 200px;
  background-image: url(../"images/6.jpg");
}

.people {
  /*width: 100%;*/
}


/*.people2 {
  float: left;
  background-color: #ffb3b3;*/


}
.button {
  background-color: coral;
}
