.logo {
  padding-bottom: 50px;
}

h1 {
  font-size: 100px;
  color: white;
  text-align: center;
}

h2 {
  color: black;
  /*opacity: 1.0;*/
  font-size: 50px;
  margin-top: 50px;
}

h3 {}

.container-fluid {
  margin: 0%;
}

.part1 {
  background-image: url(../images/newpaul-and-anthony-burill.jpg);
  min-height: 200px;
  background-size: 15%;
  text-align: center;
  padding-bottom: 0px;
  background-size: 40%;
  min-width: 100%;
}

.part2 {
  background-color: #ffb3b3;
  min-height: 50px;
  margin: 0%;
  animation-duration: 2s;
  animation-name: example;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    background-color: #838487;
  }
  25% {
    background-color: #F7786B;
  }
  50% {
    background-color: #F7CAC9;
  }
  100% {
    background-color: #EDCDC2;
  }
}

.part3 {
  /*background-image: url(../images/i-create-minimalist-posters-of-famous-fairy-tales-using-ping-pong-rackets-and-balls-2__880.jpg);*/
  background-repeat: repeat-x;
  background-size: 50%;
  min-width: 70%;
  min-height: 550px;
  /*: auto;*/
  /*opacity: 1.0;*/
  text-align: left;
  justify;
  /*color: white;*/
  font-size: 25px;
  background-color: #ffdb4d;
  margin: 0%;
}

#result {
  color: white;
  font-size: 40px;
  font-style: italic;
}

.part4 {
  background: url(../"images/6.jpg");
  background-size: 100%;
  width: 100%;
  min-height: 200px;
  background-repeat: no-repeat;
  padding-top: 95px;
  padding-left: 165px;
}

.fa-chevron-left {
  color: red;
}

.fa-chevron-right {
  color: red;
}

.people .active {
  background-color: white;
  color: red;
}

.part4b p {
  color: red;
  font-weight: bold;
}

.part4b img {
  padding-top: 20px;
  padding-bottom: 10px;
}

.people .col-md-4:hover:not(.active) {
  background-color: white;
  color: red;
  cursor: pointer;
}

.people .col-md-4:not(.active) {
  background-color: #E3E3E3;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  width: 300px;
}

.people {
  width: 990px;
  text-align: center;
}

.cols {
  width: 1145px;
}

.people .inactive {
  color: black;
}

.part4b {
  background-color: white;
  padding-left: 5px;
}
