h1 {
  font-size: 100px;
  color: white;
  text-align: center;
}

h2 {
  color: black;
  font-size: 50px;
}

.part1 {
  background-image: url(../images/newpaul-and-anthony-burill.jpg);
  min-height: 250px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  background-size: 45%;
  min-width: 100%;
}

.part2 {
  background-color: #ffb3b3;
  min-height: 150px;
  margin-top: -20px;
  animation-duration: 2s;
  animation-name: example;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    background-color: #838487;
  }
  25% {
    background-color: #F7786B;
  }
  50% {
    background-color: #F7CAC9;
  }
  100% {
    background-color: #EDCDC2;
  }
}

.part3 {
  min-width: 70%;
  min-height: 550px;
  font-size: 25px;
  background-color: #ffdb4d;
  padding: 20px 0 0px 30px;
  margin-top: -50px;
}

ul {
  list-style-type: none;
  margin-left: 40px;
  padding: 0;
  color: white;
  font-size: 40px;
  font-style: italic;
}

.info {
  float: right;
  background-color: black;
  color: white;
  min-height: 500px;
  width: 300px;
  padding: 0 0 0 20px;
  margin-top: -330px;
}
